<div class='page page--top'>
  <header>
    {{!-- {{> back-button}} --}}
  </header>

  <h1 class='page__title'>Список користувачив</h1>
  <hr class='page__divider' />
  <div class='page__section' id='user-list'>

    <span class='alert alert--disabled'>Увага, помилка!</span>
  </div>
</div>